{% extends 'DivonaStandingsBundle::layout_double.html.twig' %}

{% block page_header %}
    <h1>Standings</h1>
{% endblock %}

{% block content %}
    <ul class="tabs">
        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_week' %}active{% endif %}">
            <a href="{{ path('DivonaStandingsBundle_standings_show_week') }}">Week</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_month' %}active{% endif %}">
            <a href="{{ path('DivonaStandingsBundle_standings_show_month') }}">Month</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_year' %}active{% endif %}">
            <a href="{{ path('DivonaStandingsBundle_standings_show_year') }}">Year</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_all' %}active{% endif %}">
            <a href="{{ path('DivonaStandingsBundle_standings_show_all') }}">All times</a>
        </li>
    </ul>

    <table class="zebra-striped">
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Played</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
            <th>Goal average</th>
            <th>Points</th>
            <th>Points per game</ht>
        </tr>
        {% for row in standing.standing %}
            <tr>
                <td>{{ row.position }}</td>
                <td>{{row.player.username}}</td>
                <td>{{row.played}}</td>
                <td>{{row.win}}</td>
                <td>{{row.draw}}</td>
                <td>{{row.lost}}</td>
                <td>{{row.goalaverage}}</td>
                <td>{{row.points}}</td>
                <td>{{row.point_per_games}}</td>
            </tr>
    {% else %}
        <tr><td colspan="9">There is no games entries.</td></tr>
    {% endfor %}
    </table>
{% endblock %}