{% extends 'DivonaStandingsBundle::layout_double.html.twig' %}

{% block page_header %}
    <h1>Standings</h1>
{% endblock %}

{% block content %}
    <ul class="tabs">
        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_week' %}active{% endif %}">
            <a href="{{ path('DivonaStandingsBundle_standings_show_week') }}">Week</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_month' %}active{% endif %}">
            <a href="{{ path('DivonaStandingsBundle_standings_show_month') }}">Month</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_year' %}active{% endif %}">
            <a href="{{ path('DivonaStandingsBundle_standings_show_year') }}">Year</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_all' %}active{% endif %}">
            <a href="{{ path('DivonaStandingsBundle_standings_show_all') }}">All times</a>
        </li>
    </ul>

    <table class="zebra-striped">
        <tr>
            <th>#</th>
            <th>Username</th>
            <th><abbr title="Played">P</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Draws">D</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Goal scored">GS</abbr></th>
            <th><abbr title="Goal conceded">GC</abbr></th>
            <th><abbr title="Goal difference">GD</abbr></th>
            <th><abbr title="Points">PTS</abbr></th>
            <th><abbr title="Points per game">PPG</abbr></ht>
        </tr>
        {% for row in standing.standing %}
            <tr>
                <td>{{row.position}}</td>
                <td><a href="{{ path('DivonaUserBundle_profile_show', { 'id': row.player.id}) }}">{{row.player.username}}</a></td>
                <td>{{row.played}}</td>
                <td>{{row.win}}</td>
                <td>{{row.draw}}</td>
                <td>{{row.lost}}</td>
                <td>{{row.goal_scored}}</td>
                <td>{{row.goal_conceded}}</td>
                <td>{{row.goal_difference}}</td>
                <td>{{row.points}}</td>
                <td>{{row.point_per_games}}</td>
            </tr>
    {% else %}
        <tr><td colspan="9">There is no game entries.</td></tr>
    {% endfor %}
    </table>
{% endblock %}

{% block sidebar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p class="clearfix center">
            <a href="{{ path('DivonaStandingsBundle_standings_add_game') }}" class="btn large primary">Add game</a>
        </p>
    {% endif %}
{% endblock %}