<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block html_title %}Standings{% endblock %}</title>

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/screen.css') }}" rel="stylesheet">
        {% endblock %}

        <!-- fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
    </head>
    <body>

        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="{{ path('DivonaStandingsBundle_homepage') }}">
                        {% trans %}
                            site.title
                        {% endtrans %}
                    </a>
                    <ul class="nav">
                        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_homepage' %}active{% endif %}">
                            <a href="{{ path('DivonaStandingsBundle_homepage') }}">
                                {% trans %}
                                    site.nav.home
                                {% endtrans %}
                            </a>
                        </li>
                        <li class="
                            {% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show' %}active{% endif %}
                            {% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_week' %}active{% endif %}
                            {% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_month' %}active{% endif %}
                            {% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_year' %}active{% endif %}
                            {% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_show_all' %}active{% endif %}">
                            <a href="{{ path('DivonaStandingsBundle_standings_show') }}">
                                {% trans %}
                                    site.nav.standings
                                {% endtrans %}
                            </a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_standings_list' %}active{% endif %}">
                            <a href="{{ path('DivonaStandingsBundle_standings_list') }}">
                                {% trans %}
                                    site.nav.gamelist
                                {% endtrans %}
                            </a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'DivonaStandingsBundle_contact' %}active{% endif %}">
                            <a href="{{ path('DivonaStandingsBundle_contact') }}">
                                {% trans %}
                                    site.nav.contact
                                {% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <div class="pull-right">
                        <ul>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="content">
                <div id="page-header">
                    {% block page_header %}
                        <h1>Page name <small>Supporting text or tagline</small></h1>
                    {% endblock %}
                </div>
                <div class="row">
                    {% block body %}{% endblock %}
                </div>
            </div>

            <footer>
                {% block footer %}
                {% endblock %}
            </footer>

        </div>

        {% block javascripts %}
            <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ asset('js/jquery-1.7.1.min.js') }}"><\/script>')</script>
            <script src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/global.js') }}"></script>
        {% endblock %}
    </body>
</html>