<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block html_title %}Standings{% endblock %}</title>

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/screen.css') }}" rel="stylesheet">
        {% endblock %}

        <!-- fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
    </head>
    <body>

        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="{{ path('DivonaStandingsBundle_homepage') }}">Divona Standings</a>
                    <ul class="nav">
                        <li class="active"><a href="{{ path('DivonaStandingsBundle_homepage') }}">Home</a></li>
                        <li><a href="{{ path('DivonaStandingsBundle_about') }}">About</a></li>
                        <li><a href="{{ path('DivonaStandingsBundle_contact') }}">Contact</a></li>
                    </ul>
                    <div class="pull-right">
                        <ul>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                <div id="page-header">
                    {% block page_header %}
                        <h1>Page name <small>Supporting text or tagline</small></h1>
                    {% endblock %}
                </div>
                <div class="row">
                    {% block body %}{% endblock %}
                </div>
            </div>

            <footer>
                {% block footer %}
                {% endblock %}
            </footer>

        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>