<section>
    <h3>Latest games</h3>
    <table>
        <tr>
            <th>Player 1</th>
            <th>Score</th>
            <th>Player 2</th>
        </tr>
        {% for game in latestGames %}
            <tr>
                <td><a href="{{ path('DivonaUserBundle_profile_show', { 'id': game.player1.id}) }}">{{ game.player1.username }}</a></td>
                <td>{{ game.scorePlayer1 }} - {{ game.scorePlayer2 }}</td>
                <td><a href="{{ path('DivonaUserBundle_profile_show', { 'id': game.player2.id}) }}">{{ game.player2.username }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">There is no recent games</td>
            </tr>
        {% endfor %}
    </table>
    <p class="center"><a href="{{ path('DivonaStandingsBundle_standings_list' ) }}">See all results</a></p>
</section>