<section class="span4">
    <h3>
        {% trans from "DivonaStandingsBundle" %}
            partial.latestgames.title
        {% endtrans %}
    </h3>
    <table>
        <tr>
            <th>
                {% trans from "DivonaStandingsBundle" %}
                    partial.latestgames.player1
                {% endtrans %}
            </th>
            <th>
                {% trans from "DivonaStandingsBundle" %}
                    partial.latestgames.score
                {% endtrans %}
            </th>
            <th>
                {% trans from "DivonaStandingsBundle" %}
                    partial.latestgames.player2
                {% endtrans %}
            </th>
        </tr>
        {% for game in latestGames %}
            <tr>
                <td><a href="{{ path('DivonaUserBundle_profile_show', { 'id': game.player1.id}) }}">{{ game.player1.username }}</a></td>
                <td>{{ game.scorePlayer1 }} - {{ game.scorePlayer2 }}</td>
                <td><a href="{{ path('DivonaUserBundle_profile_show', { 'id': game.player2.id}) }}">{{ game.player2.username }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    {% trans from "DivonaStandingsBundle" %}
                        partial.latestgames.noresult
                    {% endtrans %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p class="center">
        <a href="{{ path('DivonaStandingsBundle_standings_list' ) }}">
            {% trans from "DivonaStandingsBundle" %}
                partial.latestgames.morelink
            {% endtrans %}
        </a>
    </p>
</section>