<section>
    <h3>
        {% trans with {'%granularity%': granularity} from "DivonaStandingsBundle" %}
            partial.standing.title
        {% endtrans %}
    </h3>
    <table>
        <tr>
            <th>
                {% trans from "DivonaStandingsBundle" %}
                    partial.standing.position
                {% endtrans %}
            </th>
            <th>
                {% trans from "DivonaStandingsBundle" %}
                    partial.standing.player
                {% endtrans %}
            </th>
            <th>
                {% trans from "DivonaStandingsBundle" %}
                    partial.standing.pointpergame
                {% endtrans %}
            </th>
        </tr>
        {% for row in standing.standing %}
            <tr>
                <td>{{row.position}}</td>
                <td><a href="{{ path('DivonaUserBundle_profile_show', { 'id': row.player.id}) }}">{{row.player.username}}</a></td>
                <td>{{row.point_per_games}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    {% trans from "DivonaStandingsBundle" %}
                        partial.standing.noresult
                    {% endtrans %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p class="center">
        <a href="{{ path('DivonaStandingsBundle_standings_show' ) }}">
            {% trans from "DivonaStandingsBundle" %}
                partial.standing.morelink
            {% endtrans %}
        </a>
    </p>
</section>