<h3>
    {% trans with {'%username%': player.username} from "DivonaStandingsBundle" %}
        partial.usergames.title
    {% endtrans %}
</h3>
<table class="zebra-striped">
    <tr>
        <th>
            {% trans from "DivonaStandingsBundle" %}
                partial.usergames.player1
            {% endtrans %}
        </th>
        <th>
            {% trans from "DivonaStandingsBundle" %}
                partial.usergames.score
            {% endtrans %}
        </th>
        <th>
            {% trans from "DivonaStandingsBundle" %}
                partial.usergames.player2
            {% endtrans %}
        </th>
        <th>
            {% trans from "DivonaStandingsBundle" %}
                partial.usergames.date
            {% endtrans %}
        </th>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <th>
                {% trans from "DivonaStandingsBundle" %}
                    partial.usergames.operations
                {% endtrans %}
            </th>
        {% endif %}
    </tr>
    {% for game in games %}
    <tr>
        <td>
            <a href="{{ path('DivonaUserBundle_profile_show', { 'id': game.player1.id}) }}">
                {% if (game.player1.id == player.id ) %}
                    <strong>{{game.player1.username}}</strong>
                {% else %}
                    {{game.player1.username}}
                {% endif %}
            </a>
        </td>
        <td>{{game.scorePlayer1}} - {{game.scorePlayer2}}</td>
        <td>
            <a href="{{ path('DivonaUserBundle_profile_show', { 'id': game.player2.id}) }}">
                {% if (game.player2.id == player.id ) %}
                    <strong>{{game.player2.username}}</strong>
                {% else %}
                    {{game.player2.username}}
                {% endif %}
            </a>
        </td>
        <td>{{ game.createdAt|date('partial.usergames.dateformat'|trans({}, 'DivonaStandingsBundle')) }}</td>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <td>
                <a href="{{ path('DivonaStandingsBundle_standings_delete', { 'id': game.id }) }}">
                    {% trans from "DivonaStandingsBundle" %}
                        partial.usergames.delete
                    {% endtrans %}
                </a>
            </td>
        {% endif %}
    </tr>
    {% else %}
        <tr>
            <td colspan="9">
                {% trans from "DivonaStandingsBundle" %}
                    partial.usergames.noresult
                {% endtrans %}
            </td>
        </tr>
    {% endfor %}
</table>