{% form_theme form theme %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

    {{ form_errors(form) }}

    {{ form_row(form.user.username) }}
    {{ form_row(form.user.email) }}
    {{ form_row(form.current) }}

    {{ form_rest(form) }}

    <div class="actions">
        <input type="submit" class="btn primary" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}">
        <a href="{{ path('fos_user_change_password') }}" class="btn">{{ 'change_password.button'|trans({}, 'FOSUserBundle') }}</a>
        <a class="btn danger">{{ 'profile.edit.delete'|trans({}, 'FOSUserBundle') }}</a>
    </div>
</form>
