{% block field_row %}
{% spaceless %}
    {% if errors|length > 0 %}
        <div class="clearfix error">
    {% else %}
        <div class="clearfix">
    {% endif %}
        {{ form_label(form) }}
        <div class="input">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block field_label %}
{% spaceless %}
    <label for="{{ id }}">{{ id|trans([], 'FOSUserBundle') }}</label>
{% endspaceless %}
{% endblock field_label %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <span class="help-inline">
            {% if errors|length == 1 %}
                {{ errors[0].messageTemplate|trans(errors[0].messageParameters, 'validators') }}
            {% elseif errors|length > 1 %}
                    {% for error in errors %}
                        {{ error.messageTemplate|trans(error.messageParameters, 'validators') }},
                    {% endfor %}
            {% endif %}
        </span>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}
